h1 {
    color: white;
    border: solid;
}

/* * {
    border: solid;
} */

.header *{

margin-left:30px;
padding: 10px;
}
a:link{
    color: rgb(21, 192, 192);
}
a:visited{
    color: white;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    
}

p,h2{
    text-align: center;
}
.menu{
    margin-right: 10px;
}
.desc{
    text-align: center;
    font-weight: bolder;
    justify-content: first baseline;
    color: white;
}
.full{
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-image: url("./Images/download\ \(15\).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.item:hover p{
    opacity: 0.5;
}
.item:hover img{
    width:300px;
    height: 300px;
}
.a{
    
}